#t-60b3c468-c53b-44bf-90e5-75a1e9989e39 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-60b3c468-c53b-44bf-90e5-75a1e9989e39 > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#t-60b3c468-c53b-44bf-90e5-75a1e9989e39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}