<html>
  <body>
    <div class="ui-page" deviceName="iPhone6Plus" deviceType="mobile" deviceWidth="414" deviceHeight="736">
         <div id="t-3dfeede3-cc8d-4859-a6d0-457fd006649d" class="template growth-both devMobile devIOS canvas firer commentable non-processed" alignment="left" name="Template 1" width="414" height="736">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/3dfeede3-cc8d-4859-a6d0-457fd006649d-1543144614363.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/3dfeede3-cc8d-4859-a6d0-457fd006649d-1543144614363-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/3dfeede3-cc8d-4859-a6d0-457fd006649d-1543144614363-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>