#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Status-Bar_1 {
  position: absolute;
  z-index: 100;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Panel_2 {
  width: 0px;
  height: 30px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Panel_2 .verticalalign {
  vertical-align: top;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Rectangle_4 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Rectangle_4 {
  position: absolute;
  width: 0px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Rectangle_4 > .clipping, #m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Rectangle_4 > .paddingLayer {
  height: 29px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Rectangle_4 span#rtr-m-0a0e234e-Rectangle_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_35 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_35 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_35 > .clipping, #m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_35 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_35 span#rtr-m-0a0e234e-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Group_14 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_8 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_8 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_8 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_8 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_8 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_8 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_8 span#rtr-m-0a0e234e-Ellipse_8_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_11 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_11 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_11 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_11 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_11 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_11 span#rtr-m-0a0e234e-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_15 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_15 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_15 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_15 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_15 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_15 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_15 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_15 span#rtr-m-0a0e234e-Ellipse_15_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_18 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_18 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_18 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_18 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_18 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_18 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_18 span#rtr-m-0a0e234e-Ellipse_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_19 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_19 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_19 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_19 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_19 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_19 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #shapewrapper-m-0a0e234e-Ellipse_19 span#rtr-m-0a0e234e-Ellipse_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_54 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_54 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_54 > .clipping, #m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_54 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_54 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_54 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_54 span#rtr-m-0a0e234e-Label_54_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_21 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_21 > img, #m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_21 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_37 > svg {
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_37 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_37 > img, #m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_37 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_40 > svg {
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_40 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_40 > img, #m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_40 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}