#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23 #m-0a0e234e-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0a0e234e-27ff-48d3-b11b-522abfef9c23.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}