#m-c28760aa-becd-4681-b54b-7a5507548f85 #m-c28760aa-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
}
#m-c28760aa-becd-4681-b54b-7a5507548f85 #m-c28760aa-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#m-c28760aa-becd-4681-b54b-7a5507548f85 #m-c28760aa-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#m-c28760aa-becd-4681-b54b-7a5507548f85 #m-c28760aa-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#m-c28760aa-becd-4681-b54b-7a5507548f85.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}