#m-c28760aa-becd-4681-b54b-7a5507548f85 #m-c28760aa-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c28760aa-becd-4681-b54b-7a5507548f85 #m-c28760aa-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c28760aa-becd-4681-b54b-7a5507548f85 #m-c28760aa-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c28760aa-becd-4681-b54b-7a5507548f85.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}