#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2d9f66c5-ab0c-442f-9b24-c2046d2ae26e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}