#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Input_4 INPUT {
  font-family: Arial;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Label-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5bef7c80-528e-4c60-ae1b-e0d6fd5ee865 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}