#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Label-blue_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 24px 24px 24px 24px;
  padding-top: 13px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  height: 22px;
  width: 265px;
  -pie-background: linear-gradient(to right,#FD9927,#FC363B);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}