#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Label-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Input_2 INPUT {
  font-family: Arial;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-76349ede-9800-410a-a9bb-daba2fec3f7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}