#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-verde_posicion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-verde_ruta {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-rojo_posicion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-rojo_ruta {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e2c55760-cdbb-48d5-bd04-a25f7f5e66e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}