#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}