#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-MAPA {
  position: absolute;
  width: 472px;
  height: 1015px;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Button_1 {
  position: absolute;
  width: 372px;
  height: 311px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Button_1 > .clipping, #s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Button_1 > .paddingLayer {
  height: 311px;
  width: 372px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Dynamic_Panel_7 {
  position: absolute;
  z-index: 100;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Panel_6 {
  width: 0px;
  height: 80px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Panel_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD6721;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Panel_6 > .layoutWrapper {
  left: 0px;
  top: 2px;
  width: 100px;
  height: 78px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_32 > svg {
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_32 {
  position: absolute;
  width: 53px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_32 > img, #s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_32 > svg {
  height: 49px;
  width: 53px;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_18 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_18 > img, #s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_18 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_9 > svg {
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_9 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_9 > img, #s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_9 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_33 > svg {
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_33 {
  position: absolute;
  width: 53px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_33 > img, #s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_33 > svg {
  height: 49px;
  width: 53px;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_19 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_19 > img, #s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_19 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_10 > svg {
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_10 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_10 > img, #s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_10 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_1 > svg {
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_1 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_1 > img, #s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a #s-Image_1 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-04131c5f-aab7-4e9f-a3b6-37ee0ca7158a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}