#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}