#s-2213cc94-ad39-496b-87a6-b7753298499b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_1 {
  width: 335px;
  height: 30px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 335px;
  height: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Status-Bar_1 {
  position: absolute;
  z-index: 100;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_2 {
  width: 0px;
  height: 30px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 {
  position: absolute;
  width: 0px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 > .paddingLayer {
  height: 29px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Group_14 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_8 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_8 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_8 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_8 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_8 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_11 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_11 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_11 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_11 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_15 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_15 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_15 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_15 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_15 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_15 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_15 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_15 span#rtr-s-Ellipse_15_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_18 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_18 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_18 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_18 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_18 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_18 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_18 span#rtr-s-Ellipse_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_19 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_19 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_19 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_19 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_19 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_19 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Ellipse_19 span#rtr-s-Ellipse_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 span#rtr-s-Label_54_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_21 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_21 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_21 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_37 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_37 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_37 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_37 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_40 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_40 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_40 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_40 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Dynamic_Panel_7 {
  position: absolute;
  z-index: 100;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_6 {
  width: 0px;
  height: 80px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD6721;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_6 > .layoutWrapper {
  left: 0px;
  top: 2px;
  width: 100px;
  height: 78px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_32 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_32 {
  position: absolute;
  width: 53px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_32 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_32 > svg {
  height: 49px;
  width: 53px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_18 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_18 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_18 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_9 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_9 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_9 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_9 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_1 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_1 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_1 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_1 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Dynamic_Panel_2 {
  position: absolute;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_3 {
  width: 0px;
  height: 519px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 519px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_5 {
  width: 375px;
  height: 519px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_5 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 519px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_3 marker {
  fill: #FD6721;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_3 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_3 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FD6721;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_4 marker {
  fill: #FD6721;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_4 {
  position: absolute;
  width: 373px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_4 {
  width: 373px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FD6721;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_5 marker {
  fill: #FD6721;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_5 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_5 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FD6721;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_6 marker {
  fill: #FD6721;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_6 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_6 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FD6721;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Quicksand-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 span#rtr-s-Titulo3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Quicksand-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 span#rtr-s-Titulo2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Quicksand-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 span#rtr-s-Titulo1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Quicksand-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 span#rtr-s-Titulo4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 span#rtr-s-Titulo4_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 span#rtr-s-Fecha1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 span#rtr-s-Fecha2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 span#rtr-s-Fecha1_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 span#rtr-s-Fecha1_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 span#rtr-s-Nombre1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 span#rtr-s-Nombre2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 span#rtr-s-Nombre2_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 span#rtr-s-Nombre2_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 span#rtr-s-Nombre2_1_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 span#rtr-s-Nombre2_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_10 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_10 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_10 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_10 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_11 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_11 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_11 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_11 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_12 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_12 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_12 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_12 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_13 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_13 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_13 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_13 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_7 marker {
  fill: #FD6721;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_7 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_7 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FD6721;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Quicksand-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 span#rtr-s-Titulo4_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 span#rtr-s-Fecha1_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 span#rtr-s-Nombre2_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_14 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_14 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_14 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_14 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_8 marker {
  fill: #FD6721;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_8 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_8 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FD6721;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_18 marker {
  fill: #FD6721;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #shapewrapper-s-Line_18 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_18 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FD6721;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Quicksand-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 span#rtr-s-Titulo4_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 span#rtr-s-Fecha1_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Quicksand-Regular',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 span#rtr-s-Nombre2_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_15 > svg {
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_15 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_15 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_15 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 26.0pt;
  font-family: 'Quicksand-Bold',Arial;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 > .clipping, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 span {
  color: #FD6721;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 26.0pt;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FD6721;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand-Bold',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_5 {
  position: absolute;
  width: 37px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_5 > img, #s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_5 > svg {
  height: 37px;
  width: 37px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}