#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Rectangle_4 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD6721;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_3 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_3 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_4 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_4 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_5 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_5 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_6 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_6 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo3 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha2 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre1 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_7 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_7 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_8 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_8 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_18 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Line_18 {
  stroke-width: 2px;
  stroke: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Titulo4_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Fecha1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Nombre2_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2213cc94-ad39-496b-87a6-b7753298499b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2213cc94-ad39-496b-87a6-b7753298499b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}