#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Rectangle_4 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Table_1 {
  border-collapse: separate;
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Table_2 {
  border-collapse: separate;
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Panel_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD6721;
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5b0f593f-1cb1-4e4e-9c7f-0f091ca5d7ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}