#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Label-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Input_2 INPUT {
  font-family: Arial;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 #s-Image_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b68c4cf8-c89e-4605-92c2-a8376e999810 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}