#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e8c2dcb9-dd18-4618-a758-21daae2e6ed1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}